body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    padding-left: 1%;
}
.orange-color{
    color: orange;
}
.border{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(214, 19, 19));
    border-image-slice: 1;
}
.flexible-container{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 50%;
}
.link-button{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 400;
}
footer h1{
    text-align: center;
}
div h2{
    font-display: inline;
}
#middle{
    text-align: center;
    padding-left: 50px;
}
.Middle{
    text-align: center;
} 
#number{
    width: 40px 40px;
    font-weight: 400;
}
#number img{
    width: 50%;
}
#number-1{
    width: 50%;
    background-color: rgb(179, 187, 187);
    padding: 10px;
    margin-right: 20px;
    border-radius: 30px;

}
#number-2{
    width: 50%;
    margin-right: 20px;
    padding: 10px;
    background-color: rgb(228, 184, 184);
    border-radius: 30px;
}
#number-3{
    width: 50%;
    margin-right: 20px;
    background-color:rgb(194, 248, 113);
    padding: 10px;
    border-radius: 30px;
}